html[format="single-page"] {
    height: 100vh;

    // overflow: hidden;

    > body {
        height: 100%;
        display: flex;
    }
}

body {
    padding: 0 1em;
    margin: 0;

    --background-disabled: #d4a49f;
    --background-color-b: #d08a86;
    --background-color: #ffc7b1;
    --foreground-color: #b38385;
    --mark-timer-color: #fdb08e;
    --dropshadow-color: #0002;

    background-color: var(--background-color);
    background: linear-gradient(6deg, var(--background-color-b), var(--background-color) 55%)
}
