html[format="single-page"] {
    height: 100vh;

    // overflow: hidden;

    > body {
        height: 100%;
    }
}

body {
    padding: 0 1em;
    margin: 0;

    --background-disabled: #b49899;
    --background-color: #ffc7b1;
    --foreground-color: #b38385;
    --mark-timer-color: #fdb08e;
    --dropshadow-color: #0002;

    background-color: var(--background-color);
}
